.poke-card {
    border-radius: 12px;
    border: 2px solid #C8C8C8;
    margin-bottom: 1%;
    display: inline-block;
}

.card-body {
    float: left;
    color: #4B4CA5;
    letter-spacing: 5px;
    font-weight: 700;
}

.poke-img {
    float: left;
    margin-top:1.5%;
}

.poke-num {
    float: right;
    color: #4B4CA5;
    letter-spacing: 5px;
    font-weight: 700;
    margin-top: 2%;
}