.banner {
    background-color: #CA1C2A;
    min-height: 15px;
    min-width: 100%;
    margin-top: 2px;
}

.header {
    border-bottom: 2px solid #F0F0F0;
    padding-bottom: 20px;
    margin-right:5px;
    margin-left:5px;
    margin-bottom: 50px;
}

.title {
    text-align: center;
    color: #CA1C2A;
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 30px;
}

.input-field-container {
    text-align: center;
    margin-top: 25px;
}

.input-field {
    border-radius: 5px;
    width: 275px;
    height: 35px;
    letter-spacing: 2px;
    padding-left: 15px;
    margin-top: 15px;
}

.img-div {
    text-align: start;
    margin: 0px !important;
    padding: 0px !important;
}

.img {
    width: 125px;
    height: 125px;
}

.inline {
    display: inline-block;
}

.img-right {
    float: right;
}
