.no-border {
    border:none;
}

.loadmore-button {
    width: 100%;
    border-radius: 10px;
    text-align:center;
    min-height:10%;
    background-color: #CA1C2A;
    border:none;
    padding-top: 1.8%;
}

.loadmore-text {
    font-weight: 700;
    font-size: 20px;
    color: white;
    letter-spacing: 3px;
}

.loadmore-container {
    margin-bottom: 2.5%;
}