.pkmn-name-div {
    text-align: end;
}

.pkmn-img {
    width: 300px;
    height: 300px;
}

.margin-side {
    margin-right: 15px;
    margin-left: 15px;
}

.sprite-div {
    padding-top: 9%;
    margin-right:15px;
}

.type-div {
    text-align:center;
}

.inline {
    display:inline-block;
}

.margin-left {
    margin-left: 6%;
}

.title-default {
    margin-left: 47%;
    padding-top: 2%;
}

.type-row {
    margin-top: 0.5%;
}

.type-left {
    margin-left: 15%;
    margin-right: 2%;
}

.title-base-stats {
    margin-left: 5%;
}